.questions-page {
  padding: 30px;
  background: #f5f7fb;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

.page-title {
  text-align: center;
  margin-bottom: 25px;
  color: #1e293b;
}

/* AI BOX */
.ai-box {
  display: flex;
  gap: 12px;
  margin-bottom: 30px;
  margin-top: 10px;
}

/* .ai-box textarea {
  flex: 1;
  resize: none;
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #d0d7e2;
  font-size: 14px;
} */

.ai-btn {
  padding: 20px 22px;
  border-radius: 10px;
  background: linear-gradient(135deg, #6366f1, #4f46e5);
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.ai-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(99, 102, 241, 0.3);
}

/* QUESTION CARD */
.question-card {
  background: #ffffff;
  border-radius: 14px;
  padding: 22px;
  margin-bottom: 25px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.question-card:hover {
  transform: translateY(-3px);
}

.question-heading {
  margin-bottom: 15px;
  color: #111827;
}

.question-input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #d1d5db;
  margin-bottom: 15px;
}

/* IMAGE */
.image-upload input {
  margin-bottom: 10px;
}

.image-preview {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.image-preview img {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  object-fit: cover;
  border: 2px solid #e5e7eb;
}

/* OPTIONS */
.options-box {
  margin-top: 15px;
}

.option-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.option-row input[type="text"] {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
}

.option-row input[type="radio"] {
  transform: scale(1.2);
  cursor: pointer;
}

/* EMPTY STATE */
.empty-state {
  text-align: center;
  margin-top: 80px;
  color: #6b7280;
}

.btn-div{
    display: flex;
  justify-content: flex-end;
  gap:1rem;
  margin-top: 25px;
}

.nxt-btn{
  background: #3a7db8e4;
  color: #fff;

}
.nxt-btn:hover{
   background: #3A7DB8;
}

.prev-btn{
background-color: #2ecc70;
color:#fff;
}

.prev-btn:hover{
background-color: #2ecc70d5;
}

.btn {
  padding: 10px 22px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.questions-page h1 {
  text-align: center;
}