/* Background */
.otp-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #6a7bd8, #8e6ccf);
  font-family: "Segoe UI", sans-serif;
}

/* Card */
.otp-card {
  width: 420px;
  padding: 40px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(14px);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.25);
  text-align: center;
  color: #fff;
}

/* Heading */
.otp-title {
  font-size: 28px;
  margin-bottom: 8px;
}

.otp-subtitle {
  font-size: 14px;
  opacity: 0.9;
  margin-bottom: 28px;
}

/* Label */
.otp-label {
  display: block;
  text-align: left;
  font-size: 14px;
  margin-bottom: 6px;
  opacity: 0.95;
}

/* Input */
.otp-input {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  margin-bottom: 22px;
}

/* Button */
.otp-btn {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  background: #ffffff;
  color: #7b5ccf;
  cursor: pointer;
  transition: all 0.3s ease;
}

.otp-btn:hover {
  background: #f0f0f0;
  transform: translateY(-1px);
}

/* Footer */
.otp-footer {
  margin-top: 20px;
  font-size: 14px;
}

.otp-footer span {
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline;
}
.err{
  color:red;
  font-size: 18px;
}
#Resend{
  background:none;
  border:none;
  text-decoration: underline;
  color:blue;
}