.export-btn {
  /* border-radius: 10px !important; */
  padding: 8px 18px !important;
  font-weight: 600 !important;
  text-transform: none !important;
  letter-spacing: 0.4px;
  border: 2px solid #1976d2 !important;
  color: rgba(14, 13, 13, 0.967) !important;
  transition: all 0.25s ease-in-out !important;
  background: #1672ce;

}

.export-btn:hover {
  background:0px 5px 5px -3px rgba(0,0,0,0.2),0px 8px 10px 1px rgba(0,0,0,0.14),0px 3px 14px 2px rgba(0,0,0,0.12) !important;
  color: #ffffff !important;
  border-color: #3d85cd !important;
  transform: translateY(-1px);
  box-shadow: 0 6px 18px rgba(8, 91, 174, 0.842);
}

.export-btn:active {
  transform: scale(0.97);
}

.export1-btn {
  /* border-radius: 10px !important; */
  padding: 8px 18px !important;
  font-weight: 600 !important;
  text-transform: none !important;
  letter-spacing: 0.4px;
  border: 2px solid #1976d2 !important;
  color: rgb(255, 255, 255) !important;
  transition: all 0.25s ease-in-out !important;
  background: #2984df;

}

.export1-btn:hover {
  background:0px 5px 5px -3px rgba(31, 54, 234, 0.725),0px 8px 10px 1px rgba(10, 81, 234, 0.878),0px 3px 14px 2px rgb(68, 5, 243) !important;
  color: #ffffff !important;
  border-color: #3d85cd !important;
  transform: translateY(-1px);
  box-shadow: 0 6px 18px rgba(8, 91, 174, 0.842);
}

.export1-btn:active {
  transform: scale(0.97);
}
